*{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

#navimg{
    width: 100%;
    height: 100%;
}

nav{
    height: 26%;
}
#firstsection{
    display: flex;
    height: 50%;
    justify-content: space-around;
   cursor: pointer;
}
#habitsection{
    width: 50%;
    
}
#quotesection{
    width: 24%;
    border-radius: 1.5rem;
    border: 1px solid aliceblue;

}
.habitprogress{
    border-radius: 2 rem;
    border: 3px solid aliceblue;


}
